.login{
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center; 
     justify-content: center; 
     background-color: #F1FAEE;
}

.loginWrapper{   
    display: flex;
    align-items: center; }
    
.loginLeft{
     width: 500px;     
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; 
    padding-right: 50px; 
    /* background-color: aqua;     */
}

.loginLogo {
    font-size: 45px;
    font-weight: 900;
    color: #457B9D ;
}

.loginCaption {
    margin-top: 20px;
    font-size: 25px;
}

.loginRight{
    width: 400px;
}

.userNameInput {
    height: 50px;    
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    padding-left: 20px;
    font-size: 18px;   
}

.userNameInput:focus{
    outline: none;
}