.rightbarContainer {
    flex: 4;
}
.rightbarWrapper{
    padding: 20px 30px;
}

.rightbarBirthdayContainer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.rightbarBirthayImg {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
.rightbarBrthdayText{
    font-weight: 300;
    font-size: 17px;
}


.rightBarAdImg{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}


.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;    
}
.rightbarFriend{
    margin-top: 20px;    
    display: flex;
    align-items: center;    
}

