.rightbarContainer {
    flex: 4;
}
.rightbarWrapper{
    padding: 20px 30px;
}

.rightBarAdImg{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;    
}
.rightbarFriend{
    margin-top: 20px;    
    display: flex;
    align-items: center;    
}
.userFollowingHeader{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.rightbarFollowing {
    display: flex;    
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightBarFollowButton {
    display: flex;
    align-items: center;
    font-size: 18px!important;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
    background-color: #457B9D ;
    border-radius: 6px;
    border-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.followIcon{
    font-size: 18px!important;
    font-weight: 500!important;
}


